{% extends 'accounts/main.html' %}

{% block content %}
<br />
<br />
<h2>Earn KSH 300 </h2>
<br />

<br />


<div class = "container">
    <div class="row">
        <div class="col">copy and share </div>
    </div>
    <br />
    <br />
    <br />
    <h3>How to Earn ksh 300</h3>
    <p>
        Welcome to Tcoin where you get the opportunity to earn ksh 300 for every friend you invite.<br />
        The procedure is simple:
        <ol>
            <li>Copy and share the link above to your friends</li>
            <li>when a friend joins using your link, you earn instantly</li>
            <li>There is no maximum earning amount</li>
            <li>There is no minimum withdrawal amount.</li>
            <li>All withdrawals are made direct to your mpesa account</li>
        </ol>
    </p>


</div>



{% endblock %}